@model TripTravelSystem.Models.Post

@{
    ViewBag.Title = "DeletePost";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")

<h2>DeletePost</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tripTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripImage)
        </dt>

        <dd>
            <img src="@Url.Content(Model.tripImage)">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfLikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfDisLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfDisLikes)
        </dd>

        <dt>
            User that created the post
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.firstName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </div>
    }
</div>
