@model IEnumerable< TripTravelSystem.Models.Post>

@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/_LayoutFactory.cshtml";
}

<h2>MyPosts</h2>
@Scripts.Render("~/bundles/bootstrap")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tripTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tripImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tripDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tripPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfLikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfDisLikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.firstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tripTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tripDate)
            </td>
            <td>
                <img src="@Url.Content(item.tripImage)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tripDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tripPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfDisLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.firstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.postID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.postID })
            </td>
        </tr>
    }

</table>
