@model IEnumerable<TripTravelSystem.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFactory.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.qID }) |
            @Html.ActionLink("Details", "Details", new { id=item.qID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.qID })
        </td>
    </tr>
}

</table>
